<?xml version="1.0"?>

<!--
   Template file for module.xml, which is contained in all modules of type SourceModule.
-->

<module>

  <dependencies>
    
    <dependency>
      <groupId>junit</groupId>
      <id>junit</id>
      <version>

        <!-- [ exactVersion || (minVersion && maxVersion) ] -->

        <exactVersion>1.2.8</exactVersion>
        <minVersion>1.2.7</minVersion>
        <maxVersion>1.2.8</maxVersion>
      </version>
    </dependency>

  </dependencies>

</module>